(
    events: [
        (
            at_min: 0.0,
            bus: "F1",
            action: Fault,
        ),
        (
            at_min: 0.0,
            bus: "6",
            action: Open,
        ),
        (
            at_min: 160.0,
            bus: "F1",
            action: Repair,
        ),
        (
            at_min: 160.0,
            bus: "6",
            action: Close,
        ),
        (
            at_min: 200.0,
            bus: "F2",
            action: Fault,
        ),
        (
            at_min: 200.0,
            bus: "3",
            action: Open,
        ),
        (
            at_min: 240.0,
            bus: "NA6",
            action: Close,
        ),
        (
            at_min: 240.0,
            bus: "6",
            action: Open,
        ),
        (
            at_min: 265.0,
            bus: "4",
            action: Open,
        ),
        (
            at_min: 265.0,
            bus: "NA2",
            action: Close,
        ),
        (
            at_min: 476.0,
            bus: "F2",
            action: Repair,
        ),
        (
            at_min: 476.0,
            bus: "NA2",
            action: Open,
        ),
        (
            at_min: 476.0,
            bus: "NA6",
            action: Open,
        ),
        (
            at_min: 476.0,
            bus: "4",
            action: Close,
        ),
        (
            at_min: 476.0,
            bus: "6",
            action: Close,
        ),
    ],
)
