(
    buses: [
        (
            id: "sd1",
            kind: Substation,
        ),
        (
            id: "2",
            kind: Switch(
                normal: Closed,
            ),
        ),
        (
            id: "3",
            kind: Switch(
                normal: Closed,
            ),
        ),
        (
            id: "4",
            kind: Switch(
                normal: Closed,
            ),
        ),
        (
            id: "5",
            kind: Switch(
                normal: Closed,
            ),
        ),
        (
            id: "NA1",
            kind: Switch(
                normal: Open,
            ),
        ),
        (
            id: "6",
            kind: Switch(
                normal: Closed,
            ),
        ),
        (
            id: "10",
            kind: Switch(
                normal: Closed,
            ),
        ),
        (
            id: "NA2",
            kind: Switch(
                normal: Open,
            ),
        ),
        (
            id: "J1",
            kind: Junction,
        ),
        (
            id: "j2",
            kind: Junction,
        ),
        (
            id: "9",
            kind: Switch(
                normal: Closed,
            ),
        ),
        (
            id: "11",
            kind: Switch(
                normal: Closed,
            ),
        ),
        (
            id: "NA4",
            kind: Switch(
                normal: Open,
            ),
        ),
        (
            id: "na6",
            kind: Switch(
                normal: Open,
            ),
        ),
        (
            id: "sd2",
            kind: Substation,
        ),
        (
            id: "f1",
            kind: Junction,
        ),
        (
            id: "f2",
            kind: Junction,
        ),
        (
            id: "sd3",
            kind: Substation,
        ),
    ],
    branches: [
        (
            id: Some("ramo1"),
            nodes: [
                "sd1",
                "2",
            ],
            element: Line(
                consumers: 0,
            ),
        ),
        (
            id: Some("ramo2"),
            nodes: [
                "3",
                "2",
            ],
            element: Line(
                consumers: 900,
            ),
        ),
        (
            id: Some("ramo3"),
            nodes: [
                "f2",
                "5",
                "4",
                "NA1",
            ],
            element: Line(
                consumers: 700,
            ),
        ),
        (
            id: Some("ramo5"),
            nodes: [
                "J1",
                "4",
            ],
            element: Line(
                consumers: 0,
            ),
        ),
        (
            id: Some("ramo6"),
            nodes: [
                "J1",
                "NA2",
            ],
            element: Line(
                consumers: 0,
            ),
        ),
        (
            id: Some("ramo4"),
            nodes: [
                "j2",
                "J1",
            ],
            element: Line(
                consumers: 600,
            ),
        ),
        (
            id: Some("ramo7"),
            nodes: [
                "6",
                "j2",
                "10",
            ],
            element: Line(
                consumers: 400,
            ),
        ),
        (
            id: Some("ramo8"),
            nodes: [
                "9",
                "f1",
            ],
            element: Line(
                consumers: 1400,
            ),
        ),
        (
            id: Some("ramo9"),
            nodes: [
                "11",
                "10",
            ],
            element: Line(
                consumers: 700,
            ),
        ),
        (
            id: Some("ramo10"),
            nodes: [
                "NA4",
                "5",
            ],
            element: Line(
                consumers: 400,
            ),
        ),
        (
            id: Some("ramo11"),
            nodes: [
                "na6",
                "9",
            ],
            element: Line(
                consumers: 300,
            ),
        ),
        (
            id: Some("ramo12"),
            nodes: [
                "sd2",
                "na6",
            ],
            element: Line(
                consumers: 0,
            ),
        ),
        (
            id: Some("ramo13"),
            nodes: [
                "f1",
                "6",
            ],
            element: Line(
                consumers: 0,
            ),
        ),
        (
            id: Some("ramo14"),
            nodes: [
                "3",
                "f2",
            ],
            element: Line(
                consumers: 0,
            ),
        ),
        (
            id: Some("ramo15"),
            nodes: [
                "NA2",
                "sd3",
            ],
            element: Line(
                consumers: 0,
            ),
        ),
    ],
)
