(
    positions: [
        (
            id: "10",
            x: 97.756584,
            y: -24.18927,
        ),
        (
            id: "11",
            x: 110.19264,
            y: -24.219885,
        ),
        (
            id: "2",
            x: 63.75378,
            y: -0.59476495,
        ),
        (
            id: "3",
            x: 73.2868,
            y: -0.6686778,
        ),
        (
            id: "4",
            x: 86.07191,
            y: -7.6023865,
        ),
        (
            id: "5",
            x: 86.07398,
            y: 5.8130684,
        ),
        (
            id: "6",
            x: 79.50611,
            y: -24.164764,
        ),
        (
            id: "7",
            x: 57.908424,
            y: -24.253565,
        ),
        (
            id: "8",
            x: 43.39322,
            y: -24.38082,
        ),
        (
            id: "9",
            x: 43.40831,
            y: -11.699564,
        ),
        (
            id: "F1",
            x: 74.53553,
            y: -24.151218,
        ),
        (
            id: "F2",
            x: 78.897934,
            y: -0.764212,
        ),
        (
            id: "NA1",
            x: 93.36896,
            y: -0.846721,
        ),
        (
            id: "NA2",
            x: 93.67536,
            y: -13.526325,
        ),
        (
            id: "NA4",
            x: 86.06253,
            y: 13.945212,
        ),
        (
            id: "NA6",
            x: 43.421093,
            y: 0.09301138,
        ),
        (
            id: "SD1",
            x: 59.01266,
            y: -0.63556945,
        ),
        (
            id: "SD2",
            x: 79.59782,
            y: 14.0240135,
        ),
        (
            id: "SD3",
            x: 102.46306,
            y: -7.3642726,
        ),
        (
            id: "barra1",
            x: 86.0287,
            y: -24.130148,
        ),
        (
            id: "barra2",
            x: 43.51165,
            y: 14.142585,
        ),
        (
            id: "j1",
            x: 86.13471,
            y: -13.545441,
        ),
        (
            id: "j3",
            x: 110.256836,
            y: -16.171427,
        ),
    ],
    hidden_bus_labels: [
        "barra1",
        "barra2",
        "j1",
        "j3",
    ],
)
